// this targets the container your thrasher is put inside on Fronts
section#environment-moment,
section#environment-moment-2020,
section#thrasher-atom, {
  width:100%;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  background-color:#fff;
  .fc-container__inner,
  .fc-slice,
  .facia-snap {
      overflow: hidden;
  }
  .facia-snap {
      padding: 0;
  }

  .environment-moment-2020 {
    margin: 0;
  }
}

.environment-moment-2020 {
  width:auto;
  margin: 0 -10px;
  padding: 0 10px;
  @include mq(mobileLandscape) {
    margin: 0;
    padding: 0 10px;
  }
  @include mq(tablet) {
    margin: 0;
    padding: 0 20px;
  }


  &__component-button {
      // mixin takes 3 variables:
      // background-color, text-color, hover-background-color
      @include component-button(#121212, #fff, #333);
  }
  &__roundel {
      // mixin makes roundel sit top right of thrasher and move with grid
      @include roundel-top-right;
  }
}


// this removes margins from Android / iOS view
.interactive-atom {
  margin:0;
  overflow: hidden;
}

// iOS and Android specific styles
.environment-moment-2020 {
  .android &,
  .ios & {
      overflow:hidden;

      margin:0;
      &__component-button {
          span {
              letter-spacing: unset;
          }
      }
  }
}
