.uni-guide-2021 {
  padding: 6px 10px 60px;
  &__link {

  }

  &__lead-image {
    img {
      width: 100%;
    }
  }

  &__copy {
    color: #052962;
    font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 24px;
    line-height: 24px;
    &__headline {
      font-weight: 700;
      span {
        display: block;
      }
    }
    &__cta {
      font-weight: 200;
      position: absolute;
      bottom: 24px;
      &:before {
        content: '';
        position: absolute;
        top: -8px;
        left: -10px;
        width: 272px;
        height: 1px;
        background: currentColor;
        opacity: 0.2;
      }
      .label {

      }
      .icon {
        display: inline-block;
        vertical-align: text-top;
        position: relative;
        bottom: 3px;
        left: 4px;
        svg {
          position: absolute;
        }
      }
    }
  }
}

