$text-colour: #1F1912;

.documentary__a-childhood-on-fire__wrapper {
  width: auto;
  position: relative;
  z-index: 10;
  margin: 0;
  background-color: #25110F;
  @include mq(tablet) {
    width: 100%;
  }
}

.documentary__a-childhood-on-fire {
  overflow: hidden;
  padding: 0 10px;
  background-color: #25110F;

  .ios &,
  .android & {
    width: 100%;
    padding: 0 10px !important;
    @include mq(tablet) {
      padding: 0 20px !important;
    }
  }

  &:hover {
    // stuff here…
  }

  @include mq(mobileLandscape) {
    padding: 0 20px;
  }

  .container-title {
    display: none;
    @include mq(wide) {
      display: block;
      position: absolute;
      left: 20px;
      top: 6px;
      font-family: "Guardian Egyptian Web",Georgia,serif;
      color: #fff;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      z-index: 30;
      .ios &,
      .android & {
        display: none;
      }
    }
  }

  a.main-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 20;
    &:hover {
      & ~ .image {
        opacity: 0.9;
      }
      & ~ .copy .copy__button__icon {
        transform: scale(1.1);
      }
    }
  }

  .copy {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    z-index: 10;
    padding: 6px 38px 0 0;
    margin-bottom: 18px;
    @include mq(leftCol) {
      margin-left: 150px;
      border-left: 1px solid rgba(#fff, 0.5);
      border-bottom: 1px solid rgba(#fff, 0.5);
      padding-left: 10px;
      padding-bottom: 9px;
      width: 420px;
      margin-bottom: 24px;
    }
    @include mq(wide) {
      margin-left: 230px;
    }
    &__title {
      font-weight: 700;
      max-width: 320px;
    }
    &__logline {
      font-weight: 200;
      max-width: 320px;
    }
    &__button {
      margin-top: 238px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 16px;
      @include mq(desktop) {
        margin-top: 36px;
      }
      &__icon {
        width: 42px;
        height: 42px;
        background-color: #ffe500;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 240ms ease-in-out;
        svg {
          position: absolute;
          top: 13px;
          left: 13px;
        }
      }
      &__time {
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        opacity: 0.95;
      }
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    transition: opacity 240ms;
    &__img {
      width: 1120px;
      height: auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      @include mq(tablet) {
        opacity: 0;
      }
      @include mq(desktop) {
        transform: translate(-24%, -60%);
      }
      @include mq(leftCol) {
        transform: translate(-16%, -60%);
      }
      @include mq(wide) {
        transform: translate(-14%, -60%);
      }
    }
  }

  .roundel {
    position: absolute;
    top: 9px;
    right: 10px;
    @include mq(mobileLandscape) {
      right: 20px;
    }
    svg {
      display: block;
    }
  }

}
