
.documentary__a-childhood-on-fire__wrapper {
  width: auto;
  position: relative;
  z-index: 10;
  @include mq(tablet) {
    width: 100%;
    margin: 0;
  }
}

.documentary__a-childhood-on-fire {
  overflow: hidden;
  padding: 0 10px;
  background-color: #6B5840;
  &:hover {
    background-color: #63533F;
  }
  @include mq(mobileLandscape) {
    padding: 0 20px;
  }
  .container-title {
    position: absolute;
    display: block;
    font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    top: 4px;
    z-index: 30;
    @include mq(tablet) {
      display: none;
    }
    @include mq(wide) {
      display: block;
      top: 6px;
      left: 20px;
    }
  }
  a.main-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 20;
    &:hover {
      & ~ .copy .copy__logline,
      & ~ .title {
        opacity: 0.95;
      }
      & ~ .copy .copy__button__icon {
        transform: scale(1.1);
      }
    }
  }

  .title {
    font-size: 58px;
    @include mq(mobileMedium) {
      font-size: 70px;
    }
    @include mq(mobileLandscape) {
      font-size: 86px;
    }

    @include mq(desktop) {
      font-size: 116px;
      margin-left: -2px;
    }


    line-height: 0.88em;
    font-weight: 700;
    color: #FFCB69;
    margin: 36px 0 15px;
    &__word {
      font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
      display: block;
    }
    @include mq(tablet) {
      margin: 8px 0 15px -7px;
      .title__word {
        display: inline;
      }
      .title__line {
        display: block;
        white-space: nowrap;
        &.title__on-fire {
          margin-top: -0.19em;
        }
      }
    }

    @include mq(desktop) {
      margin-left: 0px;
    }

    @include mq(leftCol) {
      margin-left: 150px;
    }

    @include mq(wide) {
      margin-left: 230px;
    }

    &__a {
      margin-left: 0.7em;
      @include mq(tablet) {
        margin-left: 0;
      }
    }
    &__childhood {
      margin-left: 0;
      @include mq(tablet) {
        margin-left: 0;
      }
    }
    &__on {
      margin-left: 3.8em;
      margin-top: -0.16em;
      @include mq(tablet) {
        margin-left: 4.75em;
      }
    }
    &__fire {
      margin-left: 2.8em;
      margin-top: -0.18em;
      @include mq(tablet) {
        margin-left: 0;
      }
    }
  }

  .copy {
    font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    z-index: 10;
    padding: 6px 0;
    margin-bottom: 18px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      right: -10px;
      height: 1px;
      background-color: #E7D4B9;
      opacity: 0.25;
    }

    @include mq(mobileLandscape) {
      &:before {
        right: -20px;
      }
    }

    @include mq(tablet) {
      width: 340px;
      padding-right: 10px;
      margin-top: -66px;
      margin-bottom: 9px;
      &:before {
        right: 0;
        left: -20px;
      }
    }

    @include mq(desktop) {
      width: 368px;
      margin-top: -86px;
    }

    @include mq(leftCol) {
      &:before {
        display: none;
      }
      margin-left: 150px;
      border-left: 1px solid rgba(#E7D4B9, 0.25);
      border-top: 1px solid rgba(#E7D4B9, 0.25);
      padding-left: 10px;
      padding-bottom: 12px;
      width: 420px;
      margin-bottom: 0;
    }
    @include mq(wide) {
      margin-left: 230px;
    }
    &__logline {
      font-weight: 600;
      max-width: 360px;
    }
    &__button {
      margin-top: 9px;
      margin-left: -1px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      color: #fff;

      &__icon {
        width: 42px;
        height: 42px;
        background-color: #ffe500;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 240ms ease-in-out;
        svg {
          position: absolute;
          top: 13px;
          left: 13px;
        }
      }
      &__time {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -1px;
        margin-left: 1px;
        @include mq(desktop) {
          text-shadow: none;
          color: #ffe500;
        }
      }
    }
  }

  .roundel {
    position: absolute;
    top: 9px;
    right: 10px;
    @include mq(mobileLandscape) {
      right: 20px;
    }
    svg {
      display: block;
    }
  }
}
