.uni-guide-2021__pops {
  &__pop {
		.animate-x,
		.animate-y {
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}
		.animate-x {
			animation-name: floatX;
		}
		.animate-y {
	    animation-name: floatY;
		}

    // A
    &.atom-blue {
			.animate-x {
				animation-duration: 17s;
				animation-delay: 8.3s;
			}
			.animate-y {
				animation-duration: 14s;
				animation-delay: 8.6s;
			}
    }
    &.atom-teal {
			.animate-x {
				animation-duration: 29s;
				animation-delay: 3.1s;
			}
			.animate-y {
				animation-duration: 21s;
				animation-delay: 3.5s;
			}
    }
    &.double-blue {
			.animate-x {
				animation-duration: 32s;
				animation-delay: 0.9s;
			}
			.animate-y {
				animation-duration: 16s;
				animation-delay: 0.3s;
			}
    }
    &.double-pink {
			.animate-x {
				animation-duration: 13s;
				animation-delay: 5.4s;
			}
			.animate-y {
				animation-duration: 27s;
				animation-delay: 5.0s;
			}
    }
    &.triple {
			.animate-x {
				animation-duration: 30s;
				animation-delay: 9.8s;
			}
			.animate-y {
				animation-duration: 14s;
				animation-delay: 4.1s;
			}
    }

    // B
    &.blue-h {
			.animate-x {
				animation-duration: 34s;
				animation-delay: 8.3s;
			}
			.animate-y {
				animation-duration: 28s;
				animation-delay: 8.6s;
			}
    }
    &.blue-v {
			.animate-x {
				animation-duration: 58s;
				animation-delay: 3.1s;
			}
			.animate-y {
				animation-duration: 42s;
				animation-delay: 3.5s;
			}
    }
    &.circle {
			.animate-x {
				animation-duration: 64s;
				animation-delay: 0.9s;
			}
			.animate-y {
				animation-duration: 46s;
				animation-delay: 0.3s;
			}
    }
    &.green {
			.animate-x {
				animation-duration: 29s;
				animation-delay: 5.4s;
			}
			.animate-y {
				animation-duration: 53s;
				animation-delay: 5.0s;
			}
    }
    &.shape {
			.animate-x {
				animation-duration: 60s;
				animation-delay: 9.8s;
			}
			.animate-y {
				animation-duration: 44s;
				animation-delay: 4.1s;
			}
    }
    &.yellow {
			.animate-x {
				animation-duration: 48s;
				animation-delay: 3.6s;
			}
			.animate-y {
				animation-duration: 38s;
				animation-delay: 3.8s;
			}
    }
    &.white {
			.animate-x {
				animation-duration: 80s;
				animation-delay: 0s;
			}
			.animate-y {
				animation-duration: 91s;
				animation-delay: 0.6s;
			}
    }


	}
}


@keyframes floatY {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes floatX {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-10px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}