.simple-newsletter {
  background-color: #121212;
  display: block;
  position: relative;
  border-top: 1px solid #333;
  margin: 0 0px 24px;
  color: #f6f6f6;
  padding-top: 4px;
  font-family: "Guardian Headline Full", "Guardian Egyptian Web", Georgia, serif;
  @include mq(mobileLandscape) {
    margin-left: 10px;
    margin-right: 10px;
  }
  @include mq(tablet) {
    width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop) {
    width: 940px;
  }
  @include mq(leftCol) {
    width: 1100px;
    min-height: 60px;
  }
  @include mq(wide) {
    width: 1260px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    @include mq(leftCol) {
      position: absolute;
      top: 4px;
      left: 20px;
      width: 160px;
      &:after {
        content: "";
        position: absolute;
        background-color: #333;
        width: 1px;
        height: 24px;
        top: -5px;
        right: 10px;
      }
    }
    @include mq(wide) {
      &:after {
        right: -71px;
      }
    }
  }

  &__privacy,
  &__main {
    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }

  &__main {
    max-width: 520px;
    @include mq(leftCol) {
      max-width: 680px;
    }

    .desc,
    .ask {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0;

      @include mq(leftCol) {
        padding-top: 5px;
        font-size: 24px;
        line-height: 26px;
      }
    }
    .desc {
      color: #ffe500;
      font-weight: 700;
    }
    .ask {
      font-weight: 300;
    }
    .signup {
      margin-top: 12px;
      width: 100%;
      height: 44px;
      position: relative;
      @include mq(tablet) {
        width: 320px;
      }
    }
  }
  &__iframe-wrapper {
    iframe {
      width: 100%;
      margin-left: 0;
      padding-top: 12px;
    }
  }

  &__privacy {
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    
    a {
        text-decoration: underline;
    }
  }

}
