// See animation mixin in _mixins.scss
// Keyframe animations
// Text transition
@keyframes dw-anim-intro-in{
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// Frame 1
@keyframes dw-anim-frame-10{
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  5% {
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-20px);
  }
  55% {
    opacity: 0;
    transform: translateX(-650px);
  }
  95% {
    opacity: 0;
    transform: translateX(650px);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
// Frame 2 - reverse of frame 1
@keyframes dw-anim-frame-2{
  0% {
    opacity: 0;
    transform: translateX(650px);
  }
  40% {
    opacity: 0;
    transform: translateX(650px);
  }
  50% {
    opacity: 0;
    transform: translateX(10px);
  }
  55% {
    opacity: 1;
    transform: translateX(0);
  }
  95% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
// Animation settings
$dw-anim-trans: 1s;
$dw-anim-delay: 1s; // needs fixing
$dw-anim-trans-type: ease;
$dw-anim-loops: 3;
$dw-anim-frame-time: 12s;

.fc-container--thrasher{
  background-color: #FFE500;
}
#thrasher__dw-200-birthday.thrasher-inner {
  position: relative;
  background-color: #FFE500;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
  // background lines
  background-image: url("https://uploads.guim.co.uk/2021/05/07/back_lines_mobile-1.png");
  background-repeat: repeat-x;
  background-position: 0 32px;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     //-- Put your IE specific css class here
     width:calc(100% - 2px);
     // -ms-overflow-style: none;
  }
  @include mq(leftCol) {
    // background lines
    background-image: url("https://uploads.guim.co.uk/2021/05/07/Back_lines_desktop-3.png");
    background-position: 0 49px;
  }


  .dw-200-birthday {
    &__link,
    &__background,
    &__background img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__link {
      z-index: 20;
      ~ .dw-200-birthday__image {
        margin-left: 0px;
        img.dw-layer-0 {
          transition: margin-left ($dw-anim-trans  /2) $dw-anim-trans-type;
        }
        img.dw-layer-1 {
          transition: margin-left (($dw-anim-trans  /2) + 100ms) $dw-anim-trans-type;
        }
        img.dw-layer-2 {
          transition: margin-left (($dw-anim-trans  /2) + 200ms) $dw-anim-trans-type;
        }
      }
      &:hover {
        // Button hover-effect
        ~ .thrasher-button,
        ~ * .thrasher-button {
        }
        ~ .dw-200-birthday__image {
          img.dw-layer-0 {
            // background layer animation
            margin-left: -5px;
          }
          img.dw-layer-1 {
            // layer 1 animation
            margin-left: -10px;
          }
          img.dw-layer-2 {
            // layer 2 animation
            margin-left: -15px;
          }
        }
      }
    }

    &__container-title {
      padding: 4px 10px;
      @include mq(mobileLandscape) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mq(leftCol) {
        position: absolute;
      }
      &__link {
        font-family: $font-headline;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        color: inherit;
        text-decoration: none;
        position: relative;
        z-index: 21;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__copy {
      font-family: $font-headline;
      font-size: 17px;
      line-height: 115%;
      padding: 4px 10px 24px;
      @include mq(mobileLandscape) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mq(leftCol) {
        padding-top: 8px;
        font-size: 20px;
      }
      @include mq(wide) {
        padding-top: 8px;
        font-size: 24px;
        padding-left: 100px;
      }
      &__headline {
        svg {
          width: 256px;
          height: 70px;
          @include mq(leftCol) {
            width: 380px;
            height: 100px;
          }
        }
        transform: translateX(0);
        opacity: 0;
        // heading animation
        @include dw-animation($dw-anim-delay, $dw-anim-trans, dw-anim-intro-in, $dw-anim-trans-type, 1);
      }
      &__subheadline {
        position: relative;
        width: 72%;
        height: 160px;
        @include mq(phablet) {
          height: 112px;
          width: 65%
        }
        @include mq(tablet) {
          width: 50%;
        }
        @include mq(leftCol) {
          width: 45%;
        }
        @include mq(wide) {
          width: 619px;
          height: 124px;
        }
        .frame-1, .frame-2 {
          position: absolute;
        }
        .frame-1 {
        // frame 1 animation
          transform: translateX(0);
          opacity: 0;
          @include dw-animation(($dw-anim-delay + ($dw-anim-delay /2)), $dw-anim-frame-time, dw-anim-frame-10, $dw-anim-trans-type, $dw-anim-loops);
        }
        .frame-2 {
          // frame 2 animation
          transform: translateX(0);
          opacity: 0;
          @if $dw-anim-loops == 1 {
            @include dw-animation((($dw-anim-frame-time /2) + $dw-anim-delay), $dw-anim-trans, dw-anim-intro-in, $dw-anim-trans-type,  1);
          } @else {
            @include dw-animation((($dw-anim-delay + ($dw-anim-delay /2)), ($dw-anim-frame-time * ($dw-anim-loops - (0.4)))), ($dw-anim-frame-time, $dw-anim-trans), (dw-anim-frame-2, dw-anim-intro-in), $dw-anim-trans-type, (($dw-anim-loops - 1), 1));
            // Needs fixing
            // @include dw-animation((($dw-anim-delay + ($dw-anim-delay /2)), ($dw-anim-frame-time * ($dw-anim-loops - ($dw-anim-frame-time /2) + $dw-anim-delay))), ($dw-anim-frame-time, $dw-anim-trans), (dw-anim-frame-2, dw-anim-intro-in), $dw-anim-trans-type, (($dw-anim-loops - 1), 1));
          }
        }
      }
      .thrasher-button {
        display: inline-flex;
        align-items: center;
        padding: 0 0 0 9px;
        background-color: #C70000;
        color: #fff;
        border-radius: 36px;
        margin-top: 12px;
        height: 36px;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
           //-- Put your IE specific css class here
           max-width: 205px;
           padding: 4px 9px 0;
        }
        // button animation
        transform: translateX(0);
        opacity: 0;
        @include dw-animation((($dw-anim-frame-time /2) + 0.15), $dw-anim-trans, dw-anim-intro-in, $dw-anim-trans-type, 1);
        @if $dw-anim-loops == 1 {
          @include dw-animation((($dw-anim-frame-time /2) + 1), $dw-anim-trans, dw-anim-intro-in, $dw-anim-trans-type, 1);
        } @else {
          @include dw-animation((($dw-anim-delay + ($dw-anim-delay /2)), ($dw-anim-frame-time * ($dw-anim-loops - 0.4))), ($dw-anim-frame-time, $dw-anim-trans), (dw-anim-frame-2, dw-anim-intro-in), $dw-anim-trans-type, (($dw-anim-loops - 1), 1));
        }
        .label {
          display: flex;
          vertical-align: middle;
          font-family: $font-sans;
          font-size: 17px;
          font-weight: 700;
          line-height: 28px;
          padding: 0 4px;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
             //-- Put your IE specific css class here
             display: inline-block;
             vertical-align: top;
          }
        }
        .label+.icon {
          padding: 0 4px 0 4px;
        }
        svg {
          fill: #fff;
        }
        &.button-md {
          height: 44px;
          padding: 0 12px;
        }
      }
    }

    &__image {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      background-image: url("https://uploads.guim.co.uk/2021/05/10/theguardian-200.png");
      // background-image: url("https://uploads.guim.co.uk/2021/05/10/theguardian-200@2x-2.png"); // X2 version seems unnecessary large
      background-repeat: no-repeat;
      background-position: 17px -17px;
      background-size: cover;
      @include mq(mobileMedium) {
        background-position: 0px -17px;
      }
      @include mq(phablet) {
        background-position: 0px -30px;
        right: 24px;
      }
      @include mq(tablet) {
        background-image: none;
        width: 38%;
        height: 90%;
        right: 24px;
      }
      @include mq(desktop) {
        height: 100%;
        width: 355px;
      }
      @include mq(leftCol) {
        right: 72px;
      }
      @include mq(wide) {
        right: 124px;
      }
      .layered-comp {
        display: none;
        @include mq(tablet) {
          display: block;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
          transition: margin-left $dw-anim-trans $dw-anim-trans-type;
          @include mq(tablet) {
            top: 12px;
          }
          @include mq(desktop) {
            top: 0px;
          }
          &.dw-layer-0 {
            height: 92%;
            margin-top: 12px;
            // background layer animation
            transform: translateX(0);
            opacity: 0;
            @include dw-animation($dw-anim-trans, $dw-anim-trans, dw-anim-intro-in, $dw-anim-trans-type, 1);
          }
          &.dw-layer-1 {
            // background layer animation
            transform: translateX(0);
            opacity: 0;
            @include dw-animation($dw-anim-trans, ($dw-anim-trans + 100ms), dw-anim-intro-in, $dw-anim-trans-type, 1);
          }
          &.dw-layer-2 {
            // background layer animation
            transform: translateX(0);
            opacity: 0;
            @include dw-animation($dw-anim-trans, ($dw-anim-trans + 200ms), dw-anim-intro-in, $dw-anim-trans-type, 1);
          }
          &.dw-ly-focus-0 {
            margin-left: -3px;
          }
          &.dw-ly-focus-1 {
            margin-left: -5px;
          }
          &.dw-ly-focus-2 {
            margin-left: -7px;
          }
        }
      }
    }
    &__roundel {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
