.environment-moment-2021__buttons__button {
  // web
  body#top & {
    &.web.mobile {
      @include mq($until:tablet) {
        display: inline-block;
      }
    }
    &.web.desktop {
      @include mq(tablet) {
        display: inline-block;
      }
    }

  }

  .ios &,
  .android & {
    &.app {
      display: inline-block;
    }
  }

  .ios & {
    &.ios {
      display: inline-block;
    }
  }

  .android & {
    &.android {
      display: inline-block;
    }
  }
}
