#thrasher__aus-territory.thrasher-inner {
  position: relative;
  border: 1px solid #dcdcdc;
  border-bottom: 0;

  .aus-territory {
    background-color: #fff;
    &__link,
    &__background,
    &__background img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__copy {
      font-family: $font-headline;
      font-size: 24px;
      line-height: 26px;
      padding: 0 10px 24px;
      max-width: 550px;
      @include mq(mobileLandscape) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mq(leftCol) {
        padding-top: 4px;
        padding-left: 180px;
      }
      @include mq(wide) {
        padding-left: 260px;
      }
      &__headline {
        font-weight: 700;
        font-size: 17px;
        display: inline-block;
      }
      &__subheadline {
        margin-top: 5px;
        font-family: $font-sans;
        font-size: 15px;
        line-height: 135%;
        &--bold {
          font-weight: bold;
        }
      }
      &__icon-container {
        display: inline-block;
        width: 30px;
        height: 20px;
        svg {
          width: 100%;
        }
        border: 0;
        padding: 0;
        background-color: transparent;
      }
      .thrasher-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 12px;
        height: 38px;
        width: 165px;
        border: 2px solid #707070;
        .label {
          display: flex;
          align-self: center;
          font-family: $font-sans;
          font-size: 17px;
          margin-bottom: 0;
        }
      }
      .selected {
        background-color: #dcdcdc;
        border: 2px solid #121212;
      }
    }
  }

  .hide {
    display: none;
  }
}
