.uni-guide-2021 {
  background-color: #D0E8D5;
  &__lead-image {
    img {
      &.v1 {
        display: block;
      }
      &.v2 {
        display: none;
      }
    }
  }

  &.version-2 {
    background-color: #E1E2DD;
    .uni-guide-2021__lead-image {
      img {
        &.v1 {
          display: none;
        }
        &.v2 {
          display: block;
        }
      }
    }

  }


}
