.uni-guide-2021 {
  background-color: #D0E8D5;
  &:hover {
    background-color: #C7E1CC;
  }
  &__pops {
    &__a {
      display: block;
    }
    &__b {
      display: none;
    }
  }

  &__lead-image {
    @include mq(tablet) {
      top: 8px;
      right: 7px;
    }
    @include mq(desktop) {
      right: 24px;
      top: -22px;
      width: 485px;
    }
    @include mq(wide) {
      right: 80px;
    }
    img {
      &.v1 {
        display: block;
      }
      &.v2 {
        display: none;
      }
    }
  }

  &.version-2 {
    background-color: #E1E2DD;
    &:hover {
      background-color: #D8D9D4;
    }
    .uni-guide-2021 {
      &__pops {
        &__a {
          display: none;
        }
        &__b {
          display: block;
        }
      }
      &__lead-image {
        @include mq(tablet) {
          top: 11px;
          right: 7px;
        }
        @include mq(desktop) {
          right: 0px;
          top: -28px;
          width: 495px;
        }
        @include mq(wide) {
          right: 84px;
        }
        img {
          &.v1 {
            display: none;
          }
          &.v2 {
            display: block;
          }
        }
      }
    }
  }
}
