@import "_mq";
@import "_fonts";
@import "_palette";
@import "_app-fonts";
@import "_mixins";

@import "basics";
@import "thrasher";

$backgroundColor: #D9305A;
$textColor: #ffffff;


.grace-thrasher, 
#thrasher-atom {
    width: 100%;
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    background-color: #fff;
    margin-bottom:0;

    .fc-container__inner,
    .fc-slice,
    .facia-snap {
        overflow: hidden;
    }

    .facia-snap {
        padding: 0;
    }
}

.tablet-only {
    display: none;

    @include mq($from: tablet) {
        display: block;
    }
}

.mobile-only {
    display: block;

    @include mq($from: tablet) {
        display: none;
    }
}

.grace-thrasher {
    background-color: #4AA069;
    height: 450px;
    color: $textColor;

    @include mq(mobileLandscape) {
        height: 320px;
    }

    @include mq($from:phablet) {
        height: 300px;
    }

    &__podlogo {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    &__podlogo, &__text {
        z-index: 5;
    }

    &__image {
        position: absolute;
        left:0;
        top:0;
        bottom: 0;
        right: 0;
        z-index: 0;

        @include mq($from:mobileMedium) {
            bottom: 24px;
        }

        img {
            position: absolute;
            right: -40px;
            bottom: 40px;
            height: 120%;
            @include mq(mobileMedium) {
                bottom:20px;
            }
            @include mq(mobileLandscape) {
                height:unset;
                bottom:0;
                right: -130px;
            }
            @include mq(phablet) {
                right:0;
                bottom:unset;
            }
        }

        &.desktop-image {
            display:none;
            @include mq(mobileLandscape) {
                display:block;
            }
        }
        &.mobile-image {
            @include mq(mobileLandscape) {
                display:none;
            }
        }

    }

    &__headline {
        position: relative;
        z-index: 7;
        margin-left: 10px;
        margin-top: 8px;
        margin-top: 33px;
        width: 290px;
        @include mq(mobileMedium) {
            margin-top: 17px;
            width: 340px;
        }
        @include mq(mobileLandscape) {
            margin-left:20px;
            width: 270px;
            margin-top: 8px;
        }
        @include mq(phablet) {
            margin-top: 10px;
            width: 320px;
        }
        @include mq(tablet) {
            width: 560px;
        }
        @include mq(desktop) {
            width:700px;
        }
        @include mq(leftCol) {
            width:800px;
        }
        @include mq(wide) {
            width: 840px;
        }
        svg {
            .grace-name {
                @include mq(tablet) {
                    transform: translateX(-254px);
                }
                @include mq(desktop) {
                    transform: translateX(-160px);
                }
                @include mq(leftCol) {
                    transform:translateX(-80px);
                }
                @include mq(wide) {
                    transform:translateX(0px);
                }
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        // width: 93%;
        // margin: 0 auto;

        @include mq($from:desktop) {
            flex-direction: row;
        }
    }

    &__desktopwrapper {

        @include mq($from:desktop) {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            width: 510px;
            width: 540px;
            border-left: 1px solid $textColor;
            overflow: hidden;
        }
        @include mq(leftCol) {
            margin-left: 170px;
        }
        @include mq(wide) {
            margin-left: 250px;
        }
    }

    &__ocadologo {
        height: 68px;
        position:absolute;
        bottom:0;
        left:0;
        margin-bottom: -6px;
        z-index: 10;
        bottom: 44px;
        @include mq(phablet) {
            left:unset;
            right:0;
            bottom: 0;
        }
        @include mq(leftCol) {
            right:unset;
            left:0;
        }
        &-left {
            display:block;
            @include mq(phablet){
                display:none;
            }
            @include mq(leftCol) {
                display:block;
            }
        }
        &-right {
            display:none;
            @include mq(phablet) {
                display:block;
            }
            @include mq(leftCol) {
                display:none;
            }
        }
    }

    &__blurb {
        color:$textColor;
        font-family: "Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
        font-size:17px;
        font-weight:500;
        line-height:115%;
        padding-left: 10px;
        margin-bottom: 180px;
        width: 240px;
        @include mq(mobileLandscape) {
            padding-left: 20px;
            margin-bottom: 86px;
            width: 260px;
        }
        @include mq(phablet) {
            width: 230px;
            margin-bottom: 45px;
        }
        @include mq(tablet) {
            width: 310px;
        }
        @include mq(desktop) {
            width:unset;
            font-size: 20px;
            margin-bottom: 15px;
            padding-left: 0;
            margin-left: 10px;
        }
    }

    &__links  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 6px 0;
        margin-left: 10px;
        @include mq(mobileLandscape) {
            margin-left: 20px;
        }
        @include mq(desktop) {
            padding: 10px 0;
            margin-left: 10px;
        }

        &-wrapper {
            background-color: $backgroundColor;
            border-top: 1px solid $textColor;
            font-family: "GuardianTextSans", "Guardian Text Sans Web", Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
            font-weight:600;
            font-size:13px;
            padding-top: 4px;
            padding-bottom: 8px;
            width: 100vw;
            @include mq(mobileMedium) {
                // font-size:15px;
            }
            @include mq(phablet) {
                width: 100vw;
            }
            @include mq(desktop) {
                width: 510px;
            }
        }

        li {
            list-style-type: none;
            &:nth-child(1) {
                margin-right:10px;
            }
            &:nth-child(5) {
                display:none;
                @include mq(mobileMedium) {
                    display:block;
                }
            }
            a {
                padding: 5px 8px 6px 8px;
                border: 1px solid white;
                border-radius: 50px;
                margin-right: 4px;
                transition: all 0.3s ease;
                &:hover {
                    text-decoration: none;
                    background-color:$textColor;
                    color: $backgroundColor;
                }
            }
        }
    }
}



.interactive, .interactive-atom {
    margin:0;
}

.ios, .android {
    .grace-thrasher {
        &__headline {
            svg {
                height: auto;
            }
        }
        &__blurb {
            margin-top: 0;
            margin-bottom: 170px;
            font-weight:400;
            @include mq(phablet) {
                margin-bottom: 30px;
            }
            @include mq(desktop) {
                margin-bottom:16px;
            }
        }
        &__links {
            padding: 2px 0;
            li {
                a {
                    color:white;
                    text-decoration: none;
                    margin-right:2px;
                    &:nth-child(3) {
                        margin-right:0;
                    }
                }
            }
        }
        &__ocadologo {
            bottom: 59px;
            @include mq(phablet) {
                bottom:0;
            }
        }
    }
}