@import "_mq";
@import "_fonts";
@import "_palette";
@import "_app-fonts";
@import "_mixins";

@import "basics";
@import "thrasher";

$background: #333333;
$yellow: #FFE500;


#charity-appeal, #thrasher-atom {
    color: white;
    .fc-item {
        padding: 0;
    }
}

.charity-appeal-wrapper {
    position: relative;
    background-color: $background;
    color: white;
    padding: 0 10px 16px 10px;
    display: flex;
    flex-direction: column;
    @include mq(mobileLandscape) {
        padding: 0 20px 16px 20px;
    }
    @include mq(tablet) {
        flex-direction: row;
        min-height: 240px;
    }
    @include mq(leftCol) {
        padding: 0 20px 16px 180px;
        min-height: unset;
    }
    @include mq(wide) {
        padding: 0 100px 16px 260px;
    }
    .gu-obs-lockup {
        width: 210px;
        margin-left: auto;
        margin-top: 4px;
        margin-bottom: 8px;
        @include mq(mobileLandscape) {
            left: 20px;
        }
        @include mq(tablet) {
            position: absolute;
            margin: unset;
            bottom: 12px;
            width: 190px;
            left: 120px;
        }
        @include mq(leftCol) {
            top: 10px;
            bottom: unset;
            left: 20px;
        }
        &.landscape {
            display: block;
            @include mq(leftCol) {
                display: none;
            }
            @include mq(wide) {
                display: block;
            }
        }
        &.stacked {
            display: none;
            @include mq(leftCol) {
                display: block;
                width: 110px;
            }
        
            @include mq(wide) {
                display: none;
            }
        }
    }
    .appeal-roundel {
        position: absolute;
        bottom: -10px;
        right: 10px;
        width: 100px;
        @include mq(mobileMedium) {
            width: 110px;
        }
        @include mq(tablet){
            margin-left: unset;
            right: unset;
            left: 10px;
        }
        @include mq(leftCol) {
            width: 120px;
            bottom: -10px;
            left: 10px;
        }
    }
    .left {
        @include mq(tablet) {
            padding-right: 10px;
            width: 50%;
        }
        h2 {
            font-family: $f-titlepiece;
            font-size: 18vw;
            line-height: 1;
            &::before {
                content:'';
                height: 0.7em;
                width: 0.7em;
                display: inline-block;
                border: 1px solid white;
                margin-right: 10px;
            }
            @include mq(phablet) {
                font-size: 80px;
            }
            @include mq(tablet) {
                font-size: 70px;
            }
            @include mq(desktop) {
                font-size: 80px;
            }
        }
    }
    .right {
        margin-top: 16px;
        @include mq(tablet) {
            margin-top: 8px;
            padding-left: 10px;
            width: 50%;
        }
        h3 {
            font-family: $f-serif-text;
            font-size: 15px;
            line-height: 135%;
            font-weight: bold;
            color: $yellow;
            margin-bottom: 0;
        }
        p {
            font-family: $f-serif-text;
            font-size: 15px;
            line-height: 135%;
            width: 95%;
            strong {
                font-weight: bold;
            }
        }
        .footer {
            display: flex;
            flex-direction: column;
            @include mq(tablet) {
                flex-direction: row;
            }
            a {
                font-family: $f-sans-serif-text;
                font-size: 17px;
                font-weight: bold;
                background-color: #FFE500;
                color: #121212;
                padding: 6px 16px 8px;
                border-radius: 200px;
                display: flex;
                align-items: center;
                transition: all 0.3s ease;
                width: max-content;
                &:hover {
                    text-decoration: none;
                    background-color: #F3C100;
                    svg {
                        transform: translateX(2px);
                    }
                }
                svg {
                    display: inline-block;
                    height: 20px;
                    margin-left: 8px;
                    margin-top: 1px;
                    transition: all 0.3s ease;
                }
            }
            img {
                height: 38px;
                width: max-content;
                margin-top: 8px;
                @include mq(tablet) {
                    margin-top: 1px;
                    margin-left: 20px;
                }
            }
        }
    }
}