##{$thrasherId}.thrasher-inner {
  $asideWidthDesktop: 40px;
  $asideWidthLeftCol: 160px;
  $asideWidthWide: 250px;

  position: relative;
  border: 1px solid #dcdcdc;
  border-bottom: 0;

  .multi-thrasher {
    &__link,
    &__background,
    &__background img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__layout {
      min-height: 120px;
      position: relative;
      background-color: #052962;
      color: #fff;
      flex-direction: row;
      padding: 8px 12px;
    }

    &__aside {
      display: none;

      @include mc(desktop) {
        display: inline-flex;
        flex-direction: column;
        float: left;
        min-width: $asideWidthDesktop;
      }
      @include mc(leftCol) {
        min-width: $asideWidthLeftCol;
      }
      @include mc(wide) {
        min-width: $asideWidthWide;
      }
    }

    &__inner {
      @include mc(desktop) {
        margin-left: $asideWidthDesktop;
      }
      @include mc(leftCol) {
        margin-left: $asideWidthLeftCol;
      }
      @include mc(wide) {
        margin-left: $asideWidthWide;
      }
    }

    &__section {
      position: relative;
      flex: 1;

      &--cards {
        max-width: 100%;
        padding: 0;

        @include mc(desktop) {
          padding-right: 40px;
        }
      }

      &--mobile-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 8px 0 16px;

        @include mc(desktop) {
          display: none;
        }
      }

      &--mobile-footer {
        display: flex;
        justify-content: flex-end;

        @include mc(leftCol) {
          display: none;
        }
      }
    }

    &__card-holder {
      display: flex;
      max-width: 100%;
      position: relative;
      scroll-behavior: smooth;
      overflow: auto hidden;
      scrollbar-width: none;      

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__scroll-button {
      cursor: pointer;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 0;

      border: 1px solid #fff;
      background-color: unset;
      background-color: transparent;

      svg {
        width: 20px;
        height: 20px;
      }

      &--mobile {
        margin-left: 10px;
      }

      &--left-desktop,
      &--right-desktop {
        position: absolute;
        top: 50%;
        display: none;

        @include mc(desktop) {
          display: inline-flex;
        }
      }

      &--left-desktop {
        left: 0;

        @include mc(desktop) {
          left: -46px;
        }
      }
      &--right-desktop {
        right: -6px;
      }

      &:not(:disabled):hover {
        background-color: #ffe500;
        border-color: #ffe500;

        svg path {
          fill: #052962;
        }
      }

      &:disabled {
        border-color: rgb(153, 153, 153);
        cursor: auto;

        svg path {
          fill: rgb(153, 153, 153);
        }
      }
    }

    &__aside-image {
      display: none;
      height: auto;
      width: 150px;
      
      @include mc(leftCol) {
        display: inline-block;
      }
      @include mc(wide) {
        width: 160px;
      }
    }

    &__aside-link {
      display: none;
      
      @include mc(leftCol) {
        display: inline;
      }
      position: absolute;
      font-family: $font-sans;
      text-decoration: underline;
      font-weight: 400;
      font-size: 15px;
      color: inherit;
      bottom: 32px;
    }

    &__privacy {
      padding: 8px 0 0;
      
      @include mc(desktop) {
        padding: 8px 40px 0 0;
      }
      font-family: $font-sans;
      font-weight: 300;
      font-size: 12px;
      line-height: 16.2px;

      p {
        margin: 0 0 0.5em;
      }

      a,
      :any-link {
        color: inherit;
        text-decoration: underline;
      }

      b {
        font-weight: 400;
        color: #ffe500;
      }

      @include mc(desktop) {
        br {
          display: none;
        }
      }
    }

    &__footer-image {
      height: auto;
      width: 70px;
    }

    &__link {
      z-index: 20;
      &:hover {
        // Background hover-effect:
        ~ .first-edition-thrasher__background {
          opacity: 0.95;
        }

        // Button hover-effect
        ~ .thrasher-button,
        ~ * .thrasher-button {
          opacity: 0.8;
        }
      }
    }

    &__background {
      z-index: -1;
      img,
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
