// Default breakpoints from Frontend
// Use mc() in place of mq() so your thrashers don't get broken
$mq-breakpoints: (
  mobile: 320px,
  mobileMedium: 375px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px,
);

$font-titlepiece: "Guardian Titlepiece", "Guardian Headline Full",
  "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
$font-headline: "Guardian Headline Full", "Guardian Headline",
  "Guardian Egyptian Web", Georgia, serif;
$font-text: "Guardian Text Egyptian Web", Georgia, serif;
$font-sans: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial,
  "Lucida Grande", sans-serif;

// this targets the container your thrasher is put inside on Fronts
#australia-qld,
#australia-vic,
#australia-nsw {
  background-color: white;
}

section.thrasher-section__aus-territory {
  width: 100%;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  background-color: #fff;
  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: hidden;
  }
  .facia-snap,
  .fc-item {
    padding: 0;
  }
}

#thrasher__aus-territory {
  margin: 0;
  overflow: hidden;
  background-color: #fff;

  .facia-snap,
  .fc-item {
    padding: 0;
  }

  .ios &,
  .android & {
    margin: 0;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  @include mc(tablet) {
    width: 100%;
  }
}
