#thrasher__aus-territory.thrasher-inner {
  position: relative;
  border-bottom: 0;
  background-color: #fff;

  @include mq(tablet) {
    border-left: 0.0625rem solid #dcdcdc;
    border-right: 0.0625rem solid #dcdcdc;
  }

  .aus-territory {
    &__copy {
      font-family: $font-headline;
      font-size: 24px;
      line-height: 26px;
      padding: 0 10px 24px;
      @include mq(mobileLandscape) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include mq(phablet) {
        max-width: 550px;
      }
      @include mq(leftCol) {
        padding-top: 4px;
        padding-left: 180px;
      }
      @include mq(wide) {
        padding-left: 260px;
      }
      &__accordion-header {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        border: 0;
        background-color: transparent;
        padding: 0;
        @include mq(phablet) {
          justify-content: flex-start;
        }

        &__headline {
          font-weight: 700;
          font-size: 17px;
          display: inline-flex;
        }
      }
      &__accordion-body {
        margin-top: 6px;
        margin-bottom: 3px;
        font-family: $font-sans;
        font-size: 15px;
        line-height: 135%;
        &--bold {
          font-weight: bold;
        }
      }
      &__icon-container {
        display: inline-flex;
        width: 25px;
        height: 15px;
        svg {
          width: 100%;
        }
        margin-left: 5px;
      }
      .thrasher-button {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 6px;
        height: 38px;
        border: 2px solid #707070;
        margin-right: 0;
        @include mq(phablet) {
          width: 165px;
          display: inline-flex;
          margin-top: 12px;
          margin-right: 3px;
        }
        &--secondary {
          border: 0;
        }
      }
      .label {
        display: flex;
        align-self: center;
        font-family: $font-sans;
        font-size: 17px;
        margin-bottom: 0;
      }
      .selected {
        background-color: #dcdcdc;
        border: 4px solid #121212;
      }
    }
  }

  .hide {
    display: none;
  }

  .hide-on-mobile {
    display: none;
    @include mq(phablet) {
      display: block;
    }
  }
}
