<!-- thrasher content sits in this div -->
<div class="europeans france">
    <a class='europeans__link' href='https://www.theguardian.com/world/ng-interactive/2020/mar/02/europeans-one-right-answer-by-alice-zeniter-starring-sabrina-ouazani'>Original drama from across Europe: What's the cost to democracy if you ignore the results of a referendum?</a>
    <div class="europeans__headline">
        <strong>Original drama from across Europe</strong>
        What's the cost to democracy if you ignore the results of a referendum?
        <div class='play-button'>
            <i>
                <svg width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 8.443v-.827L.675 0 0 .531v14.997L.675 16z" fill="#121212" fill-rule="evenodd" /></svg></i>
            7:25
        </div>
    </div>

    <div class='europeans__furniture'>
        <div class='badge'><svg width="48" height="53" viewBox="0 0 48 53" xmlns="http://www.w3.org/2000/svg">
                <g fill-rule="nonzero" fill="none">
                    <path d="M21.501 28.315L6.274 19.524c-1.528-.881-2.768-.162-2.768 1.6v17.582c0 1.761 1.24 3.919 2.768 4.8l15.227 8.79c1.528.882 2.769.162 2.769-1.6V33.116c0-1.78-1.24-3.92-2.769-4.8" fill="#DADADA" />
                    <path d="M37.16 9.51L21.933.72c-1.529-.882-4.01-.882-5.537 0L1.169 9.51c-1.529.881-1.529 2.32 0 3.2l15.227 8.791c1.528.881 4.008.881 5.537 0l15.227-8.79c1.528-.9 1.528-2.32 0-3.2" fill="#003DC7" />
                    <path d="M45.197 11.488l-15.227 8.79c-1.529.882-2.769 3.039-2.769 4.8v17.583c0 1.761 1.24 2.48 2.769 1.6l15.227-8.791c1.528-.881 2.768-3.039 2.768-4.8V13.088c0-1.78-1.24-2.5-2.768-1.6" fill="#FFBB50" />
                </g>
            </svg></div>
        <div class='labels'>
            <a class='labels__europeans' href=''>Europeans</a>
            <span class='labels__part-of'>part of This is Europe</span>
        </div>
    </div>
    <div class='europeans__background'>
        <img class='map' src='https://uploads.guim.co.uk/2020/02/27/france-map.png'>
        <img class='person' src='https://uploads.guim.co.uk/2020/02/27/france-person.png' srcset='https://uploads.guim.co.uk/2020/02/27/france-person.png 1x, https://uploads.guim.co.uk/2020/02/27/france-person@2x.png 2x'>
    </div>

    <!-- black background roundel -->
    <svg class="europeans__roundel" width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <g fill="none" fill-rule="evenodd">
            <path d="M21 0C9.402 0 0 9.402 0 21c0 11.597 9.402 21 21 21s21-9.403 21-21C42 9.402 32.598 0 21 0" fill="#ffffff" />
            <path d="M24.15 5.269c3.287.423 6.887 2.245 8.296 3.537v5.942h-.743l-7.553-8.82v-.659zM22.57 5.968h-.084c-4.933 0-7.775 6.442-7.63 15.131v.032c-.145 8.69 2.697 15.132 7.63 15.132h.083v.669c-7.422.48-17.463-4.857-17.317-15.8v-.033C5.106 10.157 15.147 4.82 22.569 5.3v.669z" fill="#121212" />
            <path d="M34.72 22.795l-2.384.954v9.837c-1.342 1.143-4.621 2.925-7.901 3.538v-13.59l-2.385-.801v-.603h12.67v.665z" fill="#121212" />
        </g>
    </svg>
</div>
