<!-- thrasher content sits in this div -->
<div id='thrasher__multi-newsletter-2' class='thrasher-inner multi-thrasher'
    data-branch='thrashers/multi-newsletter-1'>


    <main class="multi-thrasher__layout" data-role="multi-thrasher-with-cards">

        <aside class="multi-thrasher__aside">
            <img class="multi-thrasher__aside-image" src="<%= path %>/the-guardian-newsletters.png"
                alt="The Guardian Newsletters" height="22.3" width="150" />
            <a class="multi-thrasher__aside-link" href="https://www.theguardian.com/email-newsletters">Explore all
                newsletters</a>
        </aside>

        <div class="multi-thrasher__inner">
            <section class="multi-thrasher__section multi-thrasher__section--cards">
                <div class="multi-thrasher__card-holder" data-role="multi-thrasher-card-holder">
                    <article class="newsletter-card" style="background-color:#ABC2C9; color:#000">
                        <h2 class="newsletter-card__title">TechScape</h2>
                    
                        <div class="newsletter-card__inner">
                            <img class="newsletter-card__image" src="<%= path %>/techscape-square.png" height="100" width="100">
                            <div class="newsletter-card__content">
                                <div class="newsletter-card__frequency-block">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="25" height="25" rx="12.5" fill="#FFE500"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8077 6H8.19231V9.69231H6.69781L5.73077 10.7376L11.8553 15.6154H13.1447L19.2692 10.7376L18.3022 9.69231H16.8077V6ZM15.5769 9.69231V9.07692H9.42308V9.69231H15.5769ZM15.5769 7.23077H9.42308V7.84615H15.5769V7.23077ZM5.73077 18.0769V12.2308L11.8553 16.5385H13.1447L19.2692 12.2308V18.0769L18.3022 19H6.69781L5.73077 18.0769ZM9.42308 10.9231H15.5769V11.5385H9.42308V10.9231Z" fill="#121212"/>
                                    </svg>
                                    <span>
                                        Weekly
                                    </span>
                                </div>
                                <p class="newsletter-card__description">
                                    Alex Hern&#x27;s weekly dive in to how technology is shaping our lives
                                </p>
                            </div>
                        </div>
                    
                        <div class="newsletter-card__iframe-wrapper">
                            <iframe src="https://www.theguardian.com/email/form/thrasher/6013" 
                            height="60" 
                            data-form-title="Sign up for TechScape" 
                            data-form-description="Alex Hern&#x27;s weekly dive in to how technology is shaping our lives" 
                            data-form-campaign-code="techscape_email "
                            scrolling="no" seamless="" frameborder="0" 
                            class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article" 
                            data-form-success-desc="We&#x27;ll send you TechScape every week" 
                            title="Sign up for TechScape"></iframe>    </div>
                    </article><article class="newsletter-card" style="background-color:#8fdcfe; color:#000">
                        <h2 class="newsletter-card__title">First Edition</h2>
                    
                        <div class="newsletter-card__inner">
                            <img class="newsletter-card__image" src="<%= path %>/first-edition-square.png" height="100" width="100">
                            <div class="newsletter-card__content">
                                <div class="newsletter-card__frequency-block">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="25" height="25" rx="12.5" fill="#FFE500"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8077 6H8.19231V9.69231H6.69781L5.73077 10.7376L11.8553 15.6154H13.1447L19.2692 10.7376L18.3022 9.69231H16.8077V6ZM15.5769 9.69231V9.07692H9.42308V9.69231H15.5769ZM15.5769 7.23077H9.42308V7.84615H15.5769V7.23077ZM5.73077 18.0769V12.2308L11.8553 16.5385H13.1447L19.2692 12.2308V18.0769L18.3022 19H6.69781L5.73077 18.0769ZM9.42308 10.9231H15.5769V11.5385H9.42308V10.9231Z" fill="#121212"/>
                                    </svg>
                                    <span>
                                        Daily
                                    </span>
                                </div>
                                <p class="newsletter-card__description">
                                    Our daily email breaks down the key stories of the day and why they matter
                                </p>
                            </div>
                        </div>
                    
                        <div class="newsletter-card__iframe-wrapper">
                            <iframe src="https://www.theguardian.com/email/form/thrasher/4156" 
                            height="60" 
                            data-form-title="Sign up for First Edition" 
                            data-form-description="Our morning email breaks down the key stories of the day, telling you what’s happening and why it matters" 
                            data-form-campaign-code="morningbriefinguk_email "
                            scrolling="no" seamless="" frameborder="0" 
                            class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article" 
                            data-form-success-desc="We&#x27;ll send you First Edition every weekday" 
                            title="Sign up for First Edition"></iframe>    </div>
                    </article><article class="newsletter-card" style="background-color:#0077B6; color:#fff">
                        <h2 class="newsletter-card__title">This is Europe</h2>
                    
                        <div class="newsletter-card__inner">
                            <img class="newsletter-card__image" src="<%= path %>/this-is-europe-square.png" height="100" width="100">
                            <div class="newsletter-card__content">
                                <div class="newsletter-card__frequency-block">
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="25" height="25" rx="12.5" fill="#FFE500"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8077 6H8.19231V9.69231H6.69781L5.73077 10.7376L11.8553 15.6154H13.1447L19.2692 10.7376L18.3022 9.69231H16.8077V6ZM15.5769 9.69231V9.07692H9.42308V9.69231H15.5769ZM15.5769 7.23077H9.42308V7.84615H15.5769V7.23077ZM5.73077 18.0769V12.2308L11.8553 16.5385H13.1447L19.2692 12.2308V18.0769L18.3022 19H6.69781L5.73077 18.0769ZM9.42308 10.9231H15.5769V11.5385H9.42308V10.9231Z" fill="#121212"/>
                                    </svg>
                                    <span>
                                        Weekly
                                    </span>
                                </div>
                                <p class="newsletter-card__description">
                                    Get the most pivotal stories and debates from all around Europe free to your inbox every Wednesday
                                </p>
                            </div>
                        </div>
                    
                        <div class="newsletter-card__iframe-wrapper">
                            <iframe src="https://www.theguardian.com/email/form/thrasher/4234" 
                            height="60" 
                            data-form-title="Sign up for This is Europe" 
                            data-form-description="The most pressing stories and debates for Europeans – from identity to economics to the environment" 
                            data-form-campaign-code="thisiseurope_email "
                            scrolling="no" seamless="" frameborder="0" 
                            class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article" 
                            data-form-success-desc="We&#x27;ll send you This is Europe every week" 
                            title="Sign up for This is Europe"></iframe>    </div>
                    </article>                </div>
                <button data-role="multi-thrasher-scroll-left-button" aria-label="scroll newsletters left"
                    class="multi-thrasher__scroll-button multi-thrasher__scroll-button--left-desktop"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.541 0.75L4.6875 8.60355V9.39645L12.541 17.25L13.2773 16.5326L6.9907 9L13.2773 1.46739L12.541 0.75Z" fill="white"/></svg></button>
                <button data-role="multi-thrasher-scroll-right-button" aria-label="scroll newsletters right"
                    class="multi-thrasher__scroll-button multi-thrasher__scroll-button--right-desktop"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.42377 0.75L0.6875 1.46739L6.97411 9L0.6875 16.5326L1.42377 17.25L9.27732 9.39645V8.60355L1.42377 0.75Z" fill="white"/></svg>
</button>
            </section>
            <section class="multi-thrasher__section multi-thrasher__section--privacy">
                <aside class="multi-thrasher__privacy">
                    <p><b>Privacy Notice:</b> Newsletters may contain info about charities, online ads, and content funded by outside parties. For more information click here for <a target="_blank" href="/help/privacy-policy">our privacy policy</a>. <br />We operate Google reCaptcha to protect our website and the <a href="https://policies.google.com/privacy" target="_blank" aria-label="google's privacy policy">Google Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank"  aria-label="google's terms of service">Terms of Service</a> apply.</p>
                </aside>
            </section>
            <section class="multi-thrasher__section multi-thrasher__section--mobile-footer">
                <img class="multi-thrasher__footer-image" src="<%= path %>/the-guardian-newsletters.png"
                    alt="The Guardian Newsletters" height="22.3" width="70" />
            </section>

        </div>

    </main>
</div>