<!--something is the wrapper and flex means that the children will use flex-->
<div class="full-height-image">
    <img src="https://media.guim.co.uk/3508d89aa31648b69118d9fb910002f11eb41aaa/0_173_5184_3110/2000.jpg" alt="">
</div>
<div id="unique" class="something">
    <div class="inner-wrapper">
        <div class="child">
            <h1>codeclub title</h1>
            <p>this is a codeclub paragraph placeholder</p>
        </div>
        <div class="child">
            <h1>another title</h1>
            <p>another paragraph</p>
        </div>
        <div class="child">
            <h1>third child</h1>
            <p>another paragraph</p>
        </div>
    </div>
</div>
<style>
    .something {
        display: flex;
        flex-wrap: wrap;
        background-color: pink;
        flex-direction: row;
    }

    .child {
        width: 33.3%;
        border: 1px solid #000;
        box-sizing: border-box;
    }

    .full-height-image {
        width: 100%;
        height: 100vh;
    }
    .full-height-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .inner-wrapper {
        background-color: blue;
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        transition: all ease-in-out 1s;
        transition-delay: 1s;
    }

    .inner-wrapper.active {
        background-color: burlywood;
    }

</style>