<div class="simple-newsletter">
  <div class="simple-newsletter__title">Newsletter</div>
  <div class="simple-newsletter__main">
    <p class="desc">
      Discover the stories behind our latest films, learn more about our
      international film-makers, and join us for exclusive documentary events.
    </p>
    <p class="ask">Sign up here for the Guardian Documentaries newsletter</p>

    <div class="simple-newsletter__iframe-wrapper element-embed">
      <iframe
        src="https://www.theguardian.com/email/form/thrasher/3745"
        height="55"
        data-form-title="Sign up here for the Guardian Documentaries newsletter"
        data-form-description="Discover the stories behind our latest films, learn more about our international film-makers, and join us for exclusive documentary events."
        data-form-campaign-code="afternoonupdateau_email"
        scrolling="no"
        seamless=""
        frameborder="0"
        class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article"
        data-form-success-desc="We will send you reminders about forthcoming documentaries."
        title="Sign up here for the Guardian Documentaries newsletter"
      >
      </iframe>
    </div>
  </div>
  <aside class="simple-newsletter__privacy">
    <p>
      <b>Privacy Notice:</b> Newsletters may contain info about charities,
      online ads, and content funded by outside parties. For more information
      click here for
      <a target="_blank" href="/help/privacy-policy">our privacy policy</a>. We
      operate Google reCAPTCHA to protect our website and the
      <a
        href="https://policies.google.com/privacy"
        target="_blank"
        aria-label="google's privacy policy"
        >Google Privacy Policy</a
      >
      and
      <a
        href="https://policies.google.com/terms"
        target="_blank"
        aria-label="google's terms of service"
        >Terms of Service</a
      >
      apply.
    </p>
  </aside>
</div>
